/* This is for the Navigation Bar: Lines 3-30
Add a black background color to the top navigation 
possible root
:root {
  --textColor: #fff;
  --darkBackground: #3e4e50;
  --lightBackground: #ccddd3
}*/

.header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3e4e50;
  color: #ffffff;
}

.header h1 {
  display:inline-block;
  font-size: 20px;
}

.header h1 .com {
  color: #f2aa7e;
}

.topnav {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3e4e50;
  overflow: hidden;
  display: flex;
  justify-content: end;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f2aa7e;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ccddd3;
  color: white;
}

body, html {
  height: 100%;
}

/* This is for the Hero Section: 
The hero image */
.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Users/steventovar/Desktop/bootcamp-UCR/Steven-Tovar-Portfolio/assets/Images/hero1.jpg");
height: 90%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

/*This is for the About us Section: */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-me {
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background: #3e4e50;
  color: #fff;
}
.image-container {
  flex: 1;
  margin: 20px;

  text-align: center;
}

img {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  margin: 20px;
  text-align: justify;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/*.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}*/

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}